/* .payment-container {
  max-width: 400px;
  margin: 100px auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card-box {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fafafa;
}

button {
  width: 100%;
} */









.freeze-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.6);
  backdrop-filter: blur(2px);
  z-index: 999;
  cursor: wait;
}

.payment-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 10px;
}

.payment-card {
  width: 100%;
  max-width: 420px;
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 14px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  animation: fadeIn 0.3s ease-in-out;
}

.title {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.payment-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 12px;
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 8px;
  font-size: 16px;
}

.field-label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #444;
}

.card-input {
  padding: 12px;
  border: 1px solid #dedede;
  background: white;
  border-radius: 8px;
  margin-bottom: 20px;
}

.pay-btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background: #f84464;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
}

.pay-btn:hover {
  background: #e73c5a;
}

.pay-btn:disabled {
  background: #bbb;
  cursor: not-allowed;
}

.payment-message {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.error {
  color: red;
}


.loader {
  width: 18px;
  height: 18px;
  border: 3px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
