.payment-page {
  background: #e9f0f5;
  min-height: 100vh;
  padding: 2rem 4rem;
}


.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.movie-info h3 {
  margin: 0;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.movie-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
  margin-right: 8px;
}

.movie-lang {
  font-size: 1rem;
  font-weight: 500;
  color: #3f3f3f;
}

.show-details {
  font-size: 1rem;
  color: #3f3f3f;
  margin: 2px 0 0;
  letter-spacing: 0.2px;
}


.back-btn {
  border: none;
  background: transparent;
  font-size: 1.8rem;
  cursor: pointer;
}

.summary-card,
.price-card,
.amount-card {
  background: #fff;
  padding: 1.2rem 1.5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.summary-card h4 {
  margin: 0 0 0.3rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.summary-card .grey {
  margin: 2px 0;
  color: #777;
  font-size: 0.9rem;
}

.price-card .line {
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}

.price-card .total {
  font-weight: 600;
}

.amount-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f6f6f6;
  font-size: 1.1rem;
  font-weight: 600;
}

.amount-card .amount {
  color: #000;
  font-weight: 700;
}

.terms {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #444;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.book-btn {
  display: block;              
  width: 10%;                  
  margin: 1.5rem auto 0;       
  background: #000;
  color: #fff;
  border: none;
  padding: 0.9rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: background 0.2s ease;
}

.book-btn:hover {
  background: #222;            /* Slight hover effect */
}

